<ion-content>
  <ion-refresher (ionRefresh)="getGames($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
  <ion-card  *ngFor="let item of listGame;">
    <ion-item>
      <ion-avatar item-start>
        <img src="{{item.createdBy.avatar}}">
      </ion-avatar>
      <h2>{{item.name}}</h2>
      <p>{{item.endDate}}</p>
      <p>{{item.active}}</p>
    </ion-item>
  </ion-card>
  <ion-item *ngIf="!listGame" class="center">
    No hay Juegos disponibles
  </ion-item>
</ion-content>
