<!--
  Login Page
-->
<!-- Login Icon Header -->
<ion-content>
  <ion-card>
    <ion-card-header>
    </ion-card-header>
    <ion-card-content>
      <div class="item">
        <ion-icon name="game-controller-b"></ion-icon>
      </div>
    </ion-card-content>
  </ion-card>
  <!-- Login Form -->
  <form>
    <ion-item>
      <ion-input tabindex  name="email"  [(ngModel)]="user.email" type="email" placeholder="Email" pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})" clearInput></ion-input>
    </ion-item>
    <ion-item>
      <ion-input name="password"  [(ngModel)]="user.password" type="password" placeholder="Contraseña" clearInput></ion-input>
    </ion-item>
    <!-- Submit Button -->
    <button ion-button full id="login" (click)="onLogin($event)">Ingresar</button>
  </form>
</ion-content>
