page-login {

  ion-card{
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
  }

  .item ion-icon{
    width: 100%;
    height: 100%;
    font-size: 18rem;
    color: #007aff;
  }

  #login{
    margin-top: 10rem;
    padding: 2.5rem;
  }
}
